<%- include("../head") %>
<%- include("../loading-progress-bar") %>
<%- include("../header-blogs") %>
		

		

		<main role="main" class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10 project-item project-article" id="">
					<!-- header figure -->
					<div id="project-detail-caption" class="project-detail-h1">
						<h1>为WebGL场景添加城市天际线</h1>
						<div class="article-description">
							<span class="article-writer" title="Article Writer">
								<span class="article-description-icon"></span>
								<p>Xie Huating</p>
							</span>
							<span class="article-date" title="Publish Date">
								<span class="article-description-icon"></span>
								<p><time>2019.03.21</time></p>
							</span>
							<span class="article-tag" title="Article Tag">
								<span class="article-description-icon"></span>
								<p class="">UX</p>
								<p class="">UI</p>
							</span>
						</div>
					</div>
					<figure class="text-center project-item-banner">
						<img src="http://design-projects.xiehuating.com/blogs/table-th-nowrap/table-th-nowrap-banner-image.jpg" class="img-fluid" alt="Responsive image">
					</figure>
					<p class="project-item-paragraph">
						在使用Bootstrap表格时，当表格有很多列的情况下，可能会出现表头单元格中的中文或者英文换行的情况。这不仅破坏表格的布局，而且当给<code>&lt;table&gt;</code>标签添加上<code>.table-responsive</code>样式后，表头的自动换行行为会使得Bootstrap表格无法显示水平方向的滚动条。这是并不是我们期望的行为。
					</p>
					<h2>竞品&参考照片</h2>
					<h3>Twinmotion</h3>
					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/twinmotion-city.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/twinmotion-city.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Screen Shot of City Skyline | Twinmotion
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/twinmotion-bay.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/twinmotion-bay.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Screen Shot of Bay Skyline | Twinmotion
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/twinmotion-countrySide.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/twinmotion-countrySide.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Screen Shot of Countryside Skyline | Twinmotion
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/twinmotion-mountains.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/twinmotion-mountains.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Screen Shot of Mountains Skyline | Twinmotion
						</p>
					</figure>


					<h3>Mars</h3>
					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/mars-city01.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/mars-city01.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Screen Shot of Demo Project | Mars
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/mars-city02.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/mars-city02.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Screen Shot of Demo Project | Mars
						</p>
					</figure>

					<h3>参考照片</h3>
					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-city01.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-city01.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							City Skyline | Reference
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-city02.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-city02.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							City Skyline | Reference
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-city03.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-city03.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							City Skyline | Reference
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-countrySide01.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-countrySide01.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Countryside Skyline | Reference
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-mountain01.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-mountain01.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Mountains Skyline | Reference
						</p>
					</figure>

					<figure class="text-center project-item-image">
						<a class="image-popup-fit-width" href="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-mountain02.jpg" title="">
							<img src="http://design-projects.xiehuating.com/blogs/city-skyline-background/reference-mountain02.jpg" class="img-fluid pimg" alt="Responsive image">
						</a>
						<p class="project-item-image-caption">
							Mountains Skyline | Reference
						</p>
					</figure>

					<h2>制作</h2>
					<h3>需求</h3>
					<p class="project-item-paragraph">
						上表中，中文表头被严重挤压后自动换行，表格的第一行数据也被自动换行。在已经给<code>&lt;table&gt;</code>标签添加上<code>.table-responsive</code>样式的情况下，只有在表头文字被挤压成完全垂直的一列后，表格才会显示水平方向的滚动条。大部分情况下，我们并不希望表格以这种布局展现，很不美观，而且非常影响表格数据的可读性。
					</p>
					<h3>流程</h3>

					<p class="project-item-paragraph">
						上表中，英文表格的可读性要比起中文表格好一些，表头虽然被自动换行，但是换行的位置在单词间的空格处。给<code>&lt;table&gt;</code>标签添加上<code>.table-responsive</code>样式的情况下，表格显示出了水平方向的滚动条。
					</p>

					<h2>DEMO示例</h2>
					<h3>DEMO截图</h3>

					<h3>DEMO链接</h3>
					<p><a class="" href="/demos/city-skyline" target="_blank" title="">http://www.xiehuating.com/demos/city-skyline</a></p>

					<h2>小结</h2>
					<p class="project-item-paragraph">
						上面使用的表格例子仅仅用作展示表头换行的演示。
					</p>
					<p class="project-item-paragraph">
						其实水平滚动条的体验并不友好。当表格信息超出了用户的视觉范围，用户需要以拖拽的方式查看，这非常影响表格信息的可读性。在理想情况下，我们是不希望出现水平滚动条的。所以当设计的时候，如果表格真的有这么多列，作为一个设计师还是应该好好思考：
					</p>
					<ul class="list-unstyled project-item-ul">
						<li>表格信息内容、组织方式是否合适？</li>
						<li>哪些信息可以删除？哪些信息可以折叠或隐藏？哪些信息可以精简或重组？</li>
						<li>是否能更充分的利用页面的宽度来展示表格信息？</li>
					</ul>	

					<p class="project-item-paragraph">
						在实际项目中，表格指标过多的情况是非常常见，尤其是后台管理、数据分析、ERP等系统中。在无法避免的情况下，也可以通过一些小优化提高表格信息的可读性，比如：
					</p>	
					<ul class="list-unstyled project-item-ul">
						<li>固定表格表头和标题列。</li>
						<li>用户可以自定义配置需要显示的表格列。</li>
						<li>用户可以拖动表格列改变表格列的排序。</li>
						<li>通过交互操作，隐藏或折叠表格列。</li>
						<li>提供搜索、筛选、排序等功能。</li>
						<li>单元格文字过多的情况下考虑截断，使用hover或单击后完整显示。</li>
					</ul>	
					<p class="project-item-paragraph">
						表格的形式适合展示大量关联的信息，信息结构、信息对比在表格中一目了然。如何保证表格信息展示的可读性、降低用户误读、便于快速扫描？
					</p>
					<p class="project-item-paragraph">
						这是一门深奥的学问，我们有机会再聊。
					</p>

					<h2>参考资料</h2>
					<h3>竞品</h3>
					<dl class="row list-unstyled project-item-dl">
						<dt class="col-sm-3">
							Twinmotion
						</dt>
						<dd class="col-sm-9"><a href="https://twinmotion.abvent.com/en/">https://twinmotion.abvent.com/en/</a></dd>
						<dt class="col-sm-3">
							Mars
						</dt>
						<dd class="col-sm-9"><a href="http://www.sheencity.com/mars">http://www.sheencity.com/mars</a></dd>
					</dl>
					<h3>素材图片</h3>
					<dl class="row list-unstyled project-item-dl">
						<dt class="col-sm-3">
							Twinmotion
						</dt>
						<dd class="col-sm-9"><a href="https://twinmotion.abvent.com/en/">https://twinmotion.abvent.com/en/</a></dd>
						<dt class="col-sm-3">
							Mars
						</dt>
						<dd class="col-sm-9"><a href="http://www.sheencity.com/mars">http://www.sheencity.com/mars</a></dd>
					</dl>
					<h3>ThreeJS</h3>
					<dl class="row list-unstyled project-item-dl">
						<dt class="col-sm-3">
							Sky Shader
						</dt>
						<dd class="col-sm-9"><a href="https://threejs.org/examples/#webgl_shaders_sky">https://threejs.org/examples/#webgl_shaders_sky</a></dd>
					</dl>

					<div class="original-article-btn">
							<a class="btn btn-dark" role="button" aria-pressed="true" href="/demos/city-skyline" target="_blank">DEMO链接</a>
					</div>

				</div>
			</div>
		</main>
 
<%- include("../footer") %>