<%- include("head") %>
<%- include("loading-progress-bar") %>
<%- include("header-about") %>

		<div id="project-caption" class="project-h1">
			<div class="container">
				<div class="row">
					<div class="offset-lg-1 col-lg-10">
						<h1>About</h1>
						<p>Individual resume</p>
						<p>Individual resume</p>
					</div>
				</div>
			</div>
		</div>

		<main role="main" class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10" id="project" style="height:1000px;">
					<div class="project-item" id="project-item">
						<p>个人简介</p>

						
					</div>


				</div>

			</div>
		</main>

<%- include("footer") %>
