<%- include("head") %>
<%- include("loading-progress-bar") %>
<%- include("header-blogs") %>

		<div id="project-caption" class="project-h1">
			<div class="container">
				<div class="row">
					<div class="offset-lg-1 col-lg-10">
						<h1>Blogs</h1>
						<p>of Product Design</p>
						<p>of Product Design</p>
					</div>
				</div>
			</div>
		</div>

		<main role="main" class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10 project-list blog-list" id="project" style="height:1800px;">

										<div class="project-item" id="">
						<div class="project-thumb">
							<a href="/blogs/city-skyline-background">
								<img src="http://design-projects.xiehuating.com/blogs/table-th-nowrap/table-th-nowrap-banner-image.jpg" class="" alt="">

								<div class="project-overlay">
									<div class="project-title">
										<h3>为WebGL场景添加城市天际线</h3>
										<p>Brand Identity</p>
									</div>
								</div>
							</a>
						</div>

						<div class="row project-description">
							<div class="col-md-6">
								<h2>
									<a href="/blogs/city-skyline-background" >
										为WebGL场景添加城市天际线
									</a>
								</h2>
								<p>
									在使用Bootstrap表格时，当表格有很多列的情况下，可能会出现表格头单元格中的中文或者英文自动换行的情况，这会破坏表格的布局以及表格无法正常以响应式的布局显示水平方向的滚动条。
								</p>
							</div>
							<div class="col-md-6">
								<ul class="list-group list-group-horizontal">
									<li class="col-md-6 list-group-item project-item-date">
										<p >
											Date
										</p>
										<p >
											2018.06
										</p>
									</li>
									<li class="col-md-6 list-group-item project-item-category">
										<p>
											Category
										</p>
										<p>
											UX & UI
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>



					<div class="project-item" id="">
						<div class="project-thumb">
							<a href="/blogs/revit-2019-new-material-analysis">
								<img src="http://design-projects.xiehuating.com/blogs/revit-2019-new-material-intro/banner-image.jpg" class="" alt="">

								<div class="project-overlay">
									<div class="project-title">
										<h3>Revit 2019 新材质简析</h3>
										<p>Glodon 广联达</p>
									</div>
								</div>
							</a>
						</div>

						<div class="row project-description">
							<div class="col-md-6">
								<h2>
									<a href="/blogs/revit-2019-new-material-analysis" >
										Revit 2019 新材质简析
									</a>
								</h2>
								<p>
									本文分享我在探索Revit 2019 New Material属性时的一些发现，并在此基础上尝试使用ThreeJS MeshStandardMaterial在web端还原此新材质的显示效果。
								</p>
							</div>
							<div class="col-md-6">
								<ul class="list-group list-group-horizontal">
									<li class="col-md-6 list-group-item project-item-date">
										<p >
											Date
										</p>
										<p >
											2019.03 - 2019.04
										</p>
									</li>
									<li class="col-md-6 list-group-item project-item-category">
										<p>
											Tag
										</p>
										<p>
											WebGL & UX
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>



					<div class="project-item" id="">
						<div class="project-thumb">
							<a href="/blogs/table-th-nowrap">
								<img src="http://design-projects.xiehuating.com/blogs/table-th-nowrap/table-th-nowrap-banner-image.jpg" class="" alt="">

								<div class="project-overlay">
									<div class="project-title">
										<h3>Bootstrap 表头单元格文本不换行</h3>
										<p>Brand Identity</p>
									</div>
								</div>
							</a>
						</div>

						<div class="row project-description">
							<div class="col-md-6">
								<h2>
									<a href="/blogs/table-th-nowrap" >
										Bootstrap 表头单元格文本不换行
									</a>
								</h2>
								<p>
									在使用Bootstrap表格时，当表格有很多列的情况下，可能会出现表格头单元格中的中文或者英文自动换行的情况，这会破坏表格的布局以及表格无法正常以响应式的布局显示水平方向的滚动条。
								</p>
							</div>
							<div class="col-md-6">
								<ul class="list-group list-group-horizontal">
									<li class="col-md-6 list-group-item project-item-date">
										<p >
											Date
										</p>
										<p >
											2018.06
										</p>
									</li>
									<li class="col-md-6 list-group-item project-item-category">
										<p>
											Category
										</p>
										<p>
											UX & UI
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>




				</div>

			</div>
		</main>

<%- include("footer") %>
