<%- include("head") %>
<%- include("loading-progress-bar") %>
<%- include("header-blogs") %>

		<div id="project-caption" class="project-h1">
			<div class="container">
				<div class="row">
					<div class="offset-lg-1 col-lg-10">
						<h1>Blogs</h1>
						<p>of Product Design</p>
						<p>of Product Design</p>
					</div>
				</div>
			</div>
		</div>

		<main role="main" class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10" id="project" style="height:1800px;">
					<div class="project-item" id="project-item">
						<div class="project-thumb">
							<a href="/blogs/blog 1">
								<img src="http://design-works.vavaga.com/testXHR/blog-image1.jpg" class="" alt="">

								<div class="project-overlay">
									<div class="project-title">
										<h3>Project Name</h3>
										<p>Brand Identity</p>
									</div>
								</div>
							</a>
						</div>

						<div class="row project-description">
							<div class="col-md-6">
								<h2>
									<a href="/blogs/blog 001" >
										What’s new in WordPress 4.2?
									</a>
								</h2>
								<p>
									Artisan Intelligentsia PBR Pinterest, trust fund PBR&B church-key fap gastropub Blue Bottle butcher listicle Thundercats before they sold out post-ironic.
								</p>
							</div>
							<div class="col-md-6">
								<ul class="list-group list-group-horizontal">
									<li class="col-md-6 list-group-item project-item-date">
										<p >
											Date
										</p>
										<p >
											2020.10.10
										</p>
									</li>
									<li class="col-md-6 list-group-item project-item-category">
										<p>
											Category
										</p>
										<p>
											UX & UI
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>

					<div class="project-item" id="project-item">
						<div class="project-thumb">
							<a href="/blogs/blog 001">
								<img src="http://design-works.vavaga.com/testXHR/blog-image1.jpg" class="" alt="">

								<div class="project-overlay">
									<div class="project-title">
										<h3>Project Name</h3>
										<p>Brand Identity</p>
									</div>
								</div>
							</a>
						</div>

						<div class="row project-description">
							<div class="col-md-6">
								<h2>
									<a href="/blogs/blog 001" >
										What’s new in WordPress 4.2?
									</a>
								</h2>
								<p>
									Artisan Intelligentsia PBR Pinterest, trust fund PBR&B church-key fap gastropub Blue Bottle butcher listicle Thundercats before they sold out post-ironic.
								</p>
							</div>
							<div class="col-md-6">
								<ul class="list-group list-group-horizontal">
									<li class="col-md-6 list-group-item project-item-date">
										<p >
											Date
										</p>
										<p >
											2020.10.10
										</p>
									</li>
									<li class="col-md-6 list-group-item project-item-category">
										<p>
											Category
										</p>
										<p>
											UX & UI
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>

			</div>
		</main>

<%- include("footer") %>
