
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 footer-brand-logo-col">
						<a class="" href="#">
							<img src="/images/xht.svg" id="" class="footer-brand-logo" alt="XHT">
						</a>
					</div>
					<div class="col-lg-4 col-md-4 footer-address-col">
						<p>
							NO.290, Lane 108 DongMei Road, ShangHai
						</p>
					</div>
					<div class="col-lg-4 offset-lg-1 col-md-4 offset-md-1 footer-contact-col">
						<p>
							<a href="mailto:xie-huating@163.com">
								xie-huating@163.com
							</a>
						</p>
						<p>
							86-18016275139
						</p>
					</div>
					<div class="clearfix col-lg-12 col-md-12">
						<hr>
					</div>
					<div class="offset-lg-3 col-lg-9 offset-md-3 col-md-9">
						<div>
							<p>
								© 2019 XieHuating | <a class="link" href="http://www.miitbeian.gov.cn" target="blank">沪ICP备14024470号-1</a>
							</p>
						</div>
					</div>


				</div>

			</div>
		</footer>

	</body>

</html>