<!doctype html>

<html lang="en-US" >

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="xiehuating, huating, blog, resume, portfolio">
		<meta name="author" content="huating, xiehuating">
		<title> Huating's Personal Site</title>

		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/magnific-popup.css">
		<link rel="stylesheet" href="/css/style.css">

		<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/customize.js"></script>
		<script type="text/javascript" src="/js/jquery.magnific-popup.js"></script>
		
	</head>
	
	<body>
	