
		<header>
			<nav class="navbar fixed-top navbar-expand-sm navbar-light mb-4" id="navbar">
				<div class="container">
					<a class="navbar-brand" href="index">
						<img src="/images/xht.svg" id="brand-logo" class="d-inline-block align-top" alt="XHT">
					</a>

					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="navbar-collapse collapse" id="navbarCollapse">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/projects">PROJECTS</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/blogs">BLOGS</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/about">ABOUT</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
